.menu-box {
  width: 100%;
  background-color: darkblue;
  border-bottom: solid white 1px;
}

.menu-title {
  text-align: center;
  font: normal normal 600 32px/39px Montserrat;
  color: #5d5d5d;
  margin-top: 17%;
}
