<div class="menu-title">
  <span class="dark-blue-color">SOPHOS</span>
</div>
<div fxLayout="column" style="height: 416px; margin-top: 60%">
  <div
    class="menu-box text-center pointer"
    fxFlex="12"
    (click)="menuType('form')"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      style="margin-top: 4%; padding-top: 1%"
      class="white-color"
    >
      <mat-icon>format_list_bulleted</mat-icon>
      <span style="margin-left: 2%">Formulario</span>
    </div>
  </div>
  <div class="menu-box pointer" fxFlex="12" (click)="menuType('table')">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      style="margin-top: 4%; padding-top: 1%"
      class="white-color"
    >
      <mat-icon>table_chart</mat-icon>
      <span style="margin-left: 2%">Tabla</span>
    </div>
  </div>
  <div fxFlex="12"></div>
  <div fxFlex="12"></div>
  <div fxFlex="12"></div>
  <div fxFlex="12"></div>
  <div fxFlex="12"></div>
  <div fxFlex="12"></div>
</div>
