.bgc-option {
  background-color: #f2f2f2;
}

.pad-table {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  padding-bottom: 2%;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.dark-blue-button {
  background: darkblue 0% 0% no-repeat padding-box;
  opacity: 1;
  font-weight: 600;
  font-size: medium;
  margin-bottom: 17.5px;
}

.ligth-green-button {
  background: #1eeb00 0% 0% no-repeat padding-box;
  opacity: 1;
  font-weight: 600;
  font-size: medium;
  margin-bottom: 17.5px;
}

.table-row {
  border-bottom: 1px solid #d8d8d8;
}

.header-text {
  padding-top: 16px;
  font: normal normal bold 16px/19px Montserrat;
  color: darkblue;
}

.index-color {
  font: normal normal bold 16px/18px Montserrat;
  color: #004b40;
}

.row-text {
  padding-top: 16px;
  font: normal normal normal 16px/22px Avenir;
  letter-spacing: 0px;
  color: #5d5d5d;
}

.paginator {
  margin-top: 2%;
  text-align: right;
  margin-right: 2%;
}

.select-icon {
  padding-top: 4%;
  padding-right: 4%;
  font-size: 30px;
}
