.div-form {
  margin: 0 5% 0 5%;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 5%;
}

.file-button {
  background-color: darkblue;
  color: white;
  margin-bottom: 17.5px;
  margin-left: 2%;
}

.form-title {
  font: normal normal 600 32px/39px Montserrat;
  margin-bottom: 3%;
}

.submit-button {
  background-color: darkblue;
  color: white !important;
  margin-bottom: 17.5px;
}
